.game{
    margin: 20px auto;
    max-width: 1300px;
}

.fields_mode{
    display: flex;
}

.info{
    display: flex;
    flex-direction: column;
    background:rgba(224, 255, 255,0.6);
    width: 25%;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    margin: 50px auto;
    text-align: center;
    align-items: center;
}

.info h2{
    margin-top: 20px;
}

.info button{
    margin-top: 20px;
    max-width: 200px;
    min-height: 35px;
    padding: 5px;
    border-radius: 5px;
    background: inherit;
    background-color: rgba(0, 0, 139,0.1);
    font-size: 18px;
}

.all_ships{
    display: flex;
    flex-wrap: wrap ;
    max-width: 400px;
    min-height: 70px;
    margin: 15px 20px 0;
}

.opponent{
    pointer-events: none;
    position: relative;
}

.player{
    position: relative;
}